.main-news {
  // sxn 1st
  .first-section {
    position: relative;

    .image-wrapper {
      position: relative;
      width: 100%;
      aspect-ratio: 7.5;

      // to make dark overlay
      &:before {
        content: '';
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgb(0 0 0 / 39%);
        z-index: 1;
      }
    }

    .text-wrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 50px;
      color: white;
      z-index: 2;
      width: 100%;
      text-align: center;
    }

    h1 {
      font-size: 50px;
      color: white;
    }

    h5 {
      // font-size: 50px;
      color: white;

      font-size: 20px;
      font-weight: 100;
    }

    @media screen and (max-width: 1000px) {
      .image-wrapper {
        aspect-ratio: 6.5;
      }
    }

    @media screen and (max-width: 700px) {
      .image-wrapper {
        aspect-ratio: 5.1;
      }

      h1 {
        font-size: 45px;
      }
      h5 {
        font-size: 16px;
      }
    }

    @media screen and (max-width: 500px) {
      .image-wrapper {
        aspect-ratio: 3.8;
      }
    }

    @media screen and (max-width: 400px) {
      .image-wrapper {
        aspect-ratio: 2.8;
      }
    }
  }

  // sxn 2nd
  .second-section {
    background-color: #fbfbfb;
    padding-block: 20px;

    .section-wrapper {
      max-width: 700px;
      margin: auto;
      padding-inline: 25px;

      .news-cards-wrapper {
        .news-card {
          background: white;
          max-width: 700px;
          margin: auto;
          display: grid;
          grid-template-columns: 3.3fr 4.5fr 1.5fr;
          margin-block: 25px;
          padding: 16px;
          gap: 12px;
          // align-items: end;
          box-shadow: 0px 2px 8px 2px rgb(0 0 0 / 11%);
          justify-items: center;
          cursor: pointer;
          transition: 0.3s;

          &:hover,
          &:focus {
            box-shadow: 0px 6.5px 25px -2px rgba(0, 0, 0, 0.2705882353);
          }

          .image-wrapper {
            position: relative;
            width: 100%;
            aspect-ratio: 1.7;
          }

          .content-wrapper {
            h5 {
              font-size: 18px;
            }
          }
          .date {
            font-size: 13px;
            color: #9e9e9e;
            font-weight: 500;
          }

          @media screen and (max-width: 600px) {
            .content-wrapper {
              h5 {
                font-size: 15px;
              }
              p {
                font-size: 14px;
              }
            }
            .date {
              font-size: 11px;
            }
          }

          @media screen and (max-width: 500px) {
            .content-wrapper {
              h5 {
                font-size: 13px;
              }
              p {
                font-size: 11px;
              }
            }
            .date {
              font-size: 9px;
            }
          }
          @media screen and (max-width: 420px) {
            // for .news-card
            grid-template-columns: 1fr;
            justify-items: start;
            gap: 25px;
            margin-block: 40px;

            .content-wrapper {
              h5 {
                font-size: 18px;
              }
              p {
                font-size: 16px;
              }
            }
            .date {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}
